@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    font-size: 16px;
    font-family: "Inter";
}
h1 {
    font-family: "Roboto Condensed";
}
.height-transition {
    interpolate-size: allow-keywords;
    transition: height 0.2s ease-in-out;
}
.text-transition {
    animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
    0% {opacity: 0;}
    90% {opacity: 1;}
}
