@import "tailwindcss";

:root {
    font-size: 16px;
}
.height-transition {
    interpolate-size: allow-keywords;
    transition: height 0.2s ease-in-out;
}
.text-transition {
    animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
    0% {opacity: 0;}
    90% {opacity: 1;}
    
}
